body {
    margin: 0 auto;
    padding: 50px 0 0 0;
    font-family: Arial;

}

.site-content{
    width: 85%;
    float: left;
    height: auto;
    padding: 10px;


}


.box-s {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


