.addstatment-text{
    font-size: 25px;
    color: #76b66c;
    text-align: center;
    margin-bottom: 20px;
}
.yntrel{
    width: 75%;
    border-top: 1px solid #76b66c;
    border-bottom: 1px solid #76b66c;
    padding: 20px 30px;
}
.addstatment-type{
    padding: 20px 30px;
    width: 75%;
}
.addstatment-type span{
padding: 5px 0;

}

.addstatment-type select{
    width: 30%;
    font-size: 15px;
}

.add-statement-name{
    padding: 20px 30px;
}
#_idtitle{
    width: 60%;
    height: 30px;
}
.nkaragir,.statement-photo{
    padding: 20px 30px;
}
#_iddescription{
    width: 60%;
    height: 150px;
}
.add-statement-number{
    padding: 20px 30px;
}
#_idphone_numbers{
    width: 30%;
    height: 30px;
}
.statement-photo-tex{
    width: 60%;
    height: 150px;
    border: 1px solid #2e0e0e;
}
.addstatment-block{
    padding: 20px 30px;
}
.addstatment{
    background-color: #76b66c;
    border-radius: 8px;
    border: 1px solid #76b66c;
    width: 150px;
    height: 40px;
    font-size: 20px;

}
.inf_add_stat{
padding: 10px;
    color: #002eb2;
}