
.my-page-menu {
    font-size: 15px;
    width: 100%;
    position: relative;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #76b66c;
}
.myPageMail{
    position: relative;
    float: right;
    line-height: 50px;

    right: 10px;

}

.myPageExit{
    padding-left:20px ;
    float: right;
    font-size: 30px;
    color:#76b66c;
}

.hayt {
    height: 50px;
    width: 170px;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    float: left;

}

.hayt:hover {

    color: #111111;
    background-color: #76B66C;

}

.karg {
    height: 50px;
    width: 170px;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    float: left;

}

.karg:hover {

    color: #111111;
    background-color: #76B66C;

}