.my-page-statement-button{
    height: 40px;
    width: 300px;
    font-size: 15px;
    text-align: center;
    background-color: #76b66c;
    border: 1px solid #111111;
   margin: 70px 0 10px 30%;
    line-height: 40px;
    border-radius:8px ;
}
.my-page-my-statement span{
    font-size: 15px;
    padding: 10px 0;

}
.my-page-type-statement{
    margin: 10px 0;

}
.popoxel{
   right: 5px;
    font-size: 30px;
    position: absolute;
    color: #0933b2;
    z-index: 1;

}

.type-statement-name.box-s a {
    white-space: normal !important;
}
