.type-statement-container {
    width: 100%;
    float: left;
    padding: 5px 20px;
    display: inline-block;
}

.type-statement-name.box-s p {
    width: 95%;
    text-align: justify;
}

.type-statement-text-new{
    font-size: 18px;
    padding: 5px 0 5px 15px;

}
.type-statement-block {
    display: inline-block;
    position: relative;
    width: 95%;
  height: 160px;
    min-height: 160px;
    font-size: 12px;
    border-bottom: 2px solid #76b66c;
    background-color: #fff;
    transition: box-shadow .1s;
    margin-bottom: 10px;
    background-color: rgba(119, 182, 109, 0.5);
    float: left;


}

.type-statement-img img{
    width: 100%;
    height: 100%;

}

.type-statement-img{
  position: absolute;
    padding: 10px 0;
    width: 160px;
    height: 160px;
    z-index: 9;


}

.type-statement-name {
    text-align: left;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px 0 4px 4px;
    padding:15px 10px 15px 180px;
    font-size: 15px;
}

a, a:visited {
    color: #111111;
    text-decoration: none;
}
@media screen and  (max-width: 903px) {


    }
