.statement-container {
    width: 100%;
    float: left;
    padding: 5px 15px;
    display: inline-block;
}
.main-statement-text-new{
    font-size: 18px;
    padding: 5px 0 5px 15px;

}
.main-statement-block {
    display: inline-block;
    width: 23%;
    height: auto;
    min-height: 160px;
    font-size: 12px;
    border-bottom: 2px solid #76b66c;
    background-color: #fff;
    transition: box-shadow .1s;
    margin: 1%;
    float: left;
}

.main-statement-img img{
    width: 100%;
    min-width: 156px;
    float: left;
}

.main-statement-img{
    float: left;
}

.main-statement-name {
    text-align: left;
    height: 18px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px 0 4px 4px;
    padding: 7px 0;
}

a, a:visited {
    color: #0933b2;
    text-decoration: none;
}
@media screen and  (max-width: 903px) {

    .main-statement-block {

        width: 48%;
        margin: 1%;

    }
    }

@media screen and  (max-width: 450px) {
    .main-statement-block {
        width: 98%;
        margin: 1%;
    }

}
