.statmentName{
    width: 60%;
    font-size: 18px;
    text-align: left;
    margin: 20px;
}

.statmentImage{width: 60%;
    margin: 20px;
    height: 400px;


}

.bigStatmentImage{

}

.smollStatmentImage{
    margin-top:10px ;
    float: left;
    padding: 0 20px 0 0;
}

.bigStatmentImage img{
    width: 100%;
    height:300px ;

}

.smollStatmentImage img{
    width: 100px;
    height:100px ;

}
.statmentNkarahir{
    width: 60%;
    height: auto;
    font-size: 13px;
    margin: 40px 20px 20px 20px;

}
.statmentNumber{
    width: 60%;
    height: auto;
    font-size: 15px;
    margin: 20px;
color: #2e0e0e;
}