body{
    font: 11px Verdana,sans-serif;

}
#form{
    width: 60%;
}

fieldset{
    padding: 20px 40px;
    margin: 10px 0;
    border: 1px solid #a6d39e;
    background-color: #fcfcfc;
    min-width: 300px;
}

fieldset label {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

.input{
    border: 1px solid #a6d39e;
    height: 30px;
    width: 100%;
    float: left;
    background-color: #daf6ea;
    padding-left: 5px;
    margin-bottom:10px;

}
.submit {
    padding: 7px 15px;
    margin-top: 10px;
    border-color: #76b66c;
    background-color: #76b66c;
    border-radius: 5px;
}
.inf_NotSingIn{
    padding: 5px 0 0 10px;
    color: #ff0000;

}