.footer-menu {
    text-align: center;
    float: right;

}

footer {
    padding: 10px;
    width: 100%;
    float: left;
}

.copy-right {
    float: left;
    color:#aaaaaa;
    font-size: 13px;
}
.footer-menu a{
    padding: 0 10px;
    color:#aaaaaa;
    font-size: 13px;
}