.typeStatementMenu{
    /*min-width: 150px;*/
    width: 15%;

    position: relative;
    float: left;
    /*border-right: 1px solid #8ab67e;*/
    z-index: 999;
    padding: 20px;
}
.typeStatementMenuTitle{
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding-bottom:5px ;
}
.typeStatementMenuType {
    float: left;
    width: 100%;
}
.typeStatementMenuType label{
    width: 100%;
    float: left;
    padding: 5px;

}
@media screen and (max-width: 903px){
    .typeStatementMenu{width: 100%;
    }

    .typeStatementMenuType label{
        width: auto;
    }
    .typeStatementMenuType {
        text-align: center;
        width: 100%;
    }

}