/*.sing-in {*/
/*float: left;*/
/*border: 1px solid #76b66c;*/
/*width: 100%;*/

/*}*/

.main-sing-block {
    margin: 70px;
    width: 40%;
    float: left;

}

.sing-block {
    width: 60%;
    margin: 5%;

}

.sing-text {
    margin-bottom: 20px;
    text-align: center;

}

.singin-rigth {
    float: left;
    right: 0;
    width: 40%;
    margin-top: 100px;

}

.answer {
    font-size: 15px;
    text-align: center;
    width: 60%;

}

.regbutton {
    height: 50px;
    width: 150px;
    border: 1px solid #76b66c;
    background-color: #76b66c;
    border-radius: 8px;
    font-size: 20px;
    color: #ffffff;
}

.singin-right-text {
    text-align: center;
    width: 60%;

}

.regbutton-block {
    text-align: center;
    padding: 30px 0 20px 0;
    width: 60%;

}

@media screen and (max-width: 903px) {
    .main-sing-block {
        margin: 10px;
        width: 100%;
    }

    .singin-rigth {

        width: 100%;
        margin: 20px 20px 20px 10px;
    }
}

.inf_singIn {
    margin: 20px 0 0 10px;
    color: #008000;
}