section {
    width: 15%;
    height: 1000px;
    position: relative;
    float: left;
    border: 2px solid #76b66c;
    z-index: 999;
}

.section nav {
    width: 100%;
    float: left;
    position: relative;
    height: 100%;
    background-color: #ffffff;}

.section nav .menu {
    width: 100%;
    height: auto;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    width: 100%;
    float: left;
    list-style: none;
    height: auto;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #f5f5f5;
}

.section .menu-icon {
    float: right;
}

.menu li a:before {
    content: '';
    width: 0;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    float: left;
    background-color: #76b66c;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.menu li a {
    float: left;
    height: 45px;
    width: 100%;
    position: relative;
}

.menu li a span{
    float: left;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 13px;
    color: #111111;
    line-height: 45px;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu li:hover a:before {
    width: 100%;
}

.menu .has-child .child-items {
    width: 100%;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 9999;
    display: none;
}