.header {
    top: 0;
    background-color: #f1f1f1;
    height: 50px;
    position: fixed;
    width: 100%;
    float: left;
    left: 0;
    z-index: 999;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    border-bottom: 2px solid #76b66c;
z-index: 9999;
}

.header .wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 50px;
}

.logo {
    width: 100px;
    height: 100%;
    position: relative;
    float: left;
    background-image: url('../image/logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.mini-menu-block{
    position: relative;
    float: left;
    height: 100%;
    left: 0;
    padding: 0 10px;
    display: none;
}

.mini-menu-icon{
    font-size:25px;
    line-height:50px;
    float: left;
}
.search-block {
    width: 30%;
    height: 30px;
    position: relative;
    float: left;
    margin: 10px 10px;
}

.search {
    position: relative;
    width: 100%;
    height: 100%;
    float: right;
    right: 0;
    padding: 0 50px 0 10px;
}

.search-icon {
    width: 40px;
    height: 100%;
    float: right;
    right: 0;
    position: absolute;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}

.bar-block{
    position: relative;
    float: left;
    height:100%;
    left:0;
    padding:0 10px;
}

.bar-icon{
    font-size:25px;
    line-height:50px;
    display: none;
    height: 100%;
    float: left;
}

@media screen and  (max-width: 903px) {
    .bar-icon {
        display:block;
    }
    .header-menu{
        display: none;
        width: 100%;

    }


    .mini-menu-block{
        display: block;
    }

    .section {
        display: none;
        width: 200px;
        position: fixed;
        -webkit-box-shadow: 5px 0 5px 0 rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 0 5px 0 rgba(0,0,0,0.75);
        box-shadow: 5px 0 5px 0 rgba(0,0,0,0.75);
height: auto;

    }

    .site-content{
        width: 100%;
    }
}
.header-menu {

    width: auto;
    height: 100%;
    float: right;
    position: relative;
    padding: 5px;
}

.button {
    width: auto;
    height: 100%;
    float: left;
    padding: 0 35px;
    line-height: 40px;
    border-radius: 2px;
    color: #ffffff;
    font-size: 13px;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);
    background-color: #76b66c;
    margin: 0 5px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(118, 182, 108, 1);
}
